/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the take-action.html is in take-action.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: "Roboto", sans-serif; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: white; /* Change the font color*/
  background-color: #0D38D3; /* Change the background color */
  box-sizing: border-box;
}
p {
  font-size: 1.5 em;
  color: #8897cc;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: #43d6b9ff;
  text-decoration: none;
}

/************************************************/
/*************** CSS for LGBTQ+ BUTTONS ****************/
/************************************************/

.buttoncontainer a:hover {
  background-color: #1e2539;
  color: white;
}

.button {
  align-self: baseline;
  background-color: white;
  border: none;
  color: #060606;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 75px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Poiret One", cursive;
}
.buttoncontainer {
  align-self: baseline;
  flex-direction: row;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

/* TODO: Review the CSS properties to the flexbox container for title and intro text */
.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Don’t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */
  /* Design properties */
  background-color: white;
  padding: 5px;
}

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section {
  background-color: white; 
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}
/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.main-message,
.image-one,
.image-two,
.image-3,
.image-4,
.image-5,
.image-6 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* TODO: Add the property to create the parallax scrolling effect here */
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own. This is the top image on your homepage. */
.main-message {
  background-image: url("https://cdn.glitch.com/275f5c97-cf82-4414-99de-1010f1563e8d%2Fblacklgbt%5B1%5D.jpg?v=1595948756659");
}

/* TODO: Replace the current image URL with your own */
/* TODO: Add a second background image. Make sure you add this class selector to the collective image rule set above */

.image-two {
  background-image: url("https://cdn.glitch.com/275f5c97-cf82-4414-99de-1010f1563e8d%2F9183570770_65cf2ef211_6k%5B1%5D.jpg?v=1595948785551");
}

/* TODO: Add more background images by repeating the process above */

.image-3 {
  background-image: url("https://cdn.glitch.com/275f5c97-cf82-4414-99de-1010f1563e8d%2FGay_pride_Istanbul_at_Taksim_Square%5B1%5D.jpg?v=1595948806206");
}

.image-4 {
  background-image: url("https://cdn.glitch.com/275f5c97-cf82-4414-99de-1010f1563e8d%2FGay_pride_Istanbul_at_Taksim_Square%5B1%5D.jpg?v=1595948806206");
}

.image-5 {
  background-image: url("https://cdn.glitch.com/275f5c97-cf82-4414-99de-1010f1563e8d%2FGay_pride_Istanbul_at_Taksim_Square%5B1%5D.jpg?v=1595948806206");
}

.image-6 {
  background-image: url("https://cdn.glitch.com/275f5c97-cf82-4414-99de-1010f1563e8d%2FGay_pride_Istanbul_at_Taksim_Square%5B1%5D.jpg?v=1595948806206");
}

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */

/* TODO: Add additional breakpoints based on your website's design





===========================================
============dropdown==========================================================================================================
===============================================

/* Dropdown Button */
/*

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
/*

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
/*

.dropdown-content p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu on hover */
/*

.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*

.dropdown:hover .dropbtn {background-color: orange;} */
